<div class="wrapper"*ngIf="!showform">Že ste prijavljeni v ligo</div>
<div class="wrapper" *ngIf="showform" >
  <h2>Prijava v ligo 2025</h2>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="input-box" *ngIf="!onlyphone">
      
      <input
        matInput
        placeholder="Ime in priimek"
        formControlName="fullName"
        required
      />
      <mat-error *ngIf="signUpForm.get('fullName')?.invalid && signUpForm.get('fullName')?.touched ">
        Obvezno!
      </mat-error>
    </div>

    <div class="input-box" *ngIf="!onlyphone">
      
      <input
        matInput
        placeholder="Email"
        formControlName="email"
        type="email"
        required
      />
      <mat-error *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched">
        Napačni format email naslova
      </mat-error>
    </div>

    <div class="input-box" >
      
      <input
        matInput
        placeholder="Telefonska številka"
        formControlName="phoneNumber"
        type="tel"
        required
      />
      <mat-error *ngIf="signUpForm.get('phoneNumber')?.invalid && signUpForm.get('phoneNumber')?.touched">
        Obvezno!
      </mat-error>
    </div>

    <div class="input-box" *ngIf="!onlyphone">
      <mat-form-field>
      <mat-label class="material">Spol</mat-label>
      <mat-select formControlName="gender" required>
        <mat-option value="m">Moški</mat-option>
        <mat-option value="ž">Ženska</mat-option>
      </mat-select>
      <mat-error *ngIf="signUpForm.get('gender')?.invalid && signUpForm.get('gender')?.touched">
        Obvezno!
      </mat-error></mat-form-field>
    </div>



    <div *ngIf="signUpForm.get('createAccount')?.value" class="input-box">
     
      <input
        matInput
        placeholder="Geslo"
        formControlName="password"
        type="password"
        required
      />
      <mat-error *ngIf="signUpForm.get('password')?.invalid  && signUpForm.get('password')?.touched">
       Obvezno!
      </mat-error>
    </div>

    <div class="input-box button" *ngIf="!this.auth.isAuthenticated()">
      <button mat-raised-button color="primary" type="submit" [disabled]="signUpForm.invalid">
        Prijava
      </button>
    </div>
  </form>

  <div class="text" *ngIf="this.auth.isAuthenticated()">
    <button (click)="register(this.auth.getUserId())" [disabled]="signUpForm.invalid" mat-raised-button color="primary">
      Prijavi se v ligo
    </button>
  </div>
</div>
