# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.
backend/.pdf
# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
.env
# Node

/node_modules
npm-debug.log
yarn-error.log
node_modules
# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
backend/1_kolo_objava.pdf
backend/15_kolo_objava.pdf
backend/14_kolo_objava.pdf
backend/13_kolo_objava.pdf
backend/12_kolo_objava.pdf
backend/11_kolo_objava.pdf
backend/10_kolo_objava.pdf
backend/9_kolo_objava.pdf
backend/8_kolo_objava.pdf
backend/7_kolo_objava.pdf
backend/6_kolo_objava.pdf
backend/5_kolo_objava.pdf
backend/4_kolo_objava.pdf
backend/3_kolo_objava.pdf
backend/2_kolo_objava.pdf

backend/asd.pdf
