<div class="wrapper">
  <h2>Prijava</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="input-box">
      <input
        id="email"
        type="email"
        placeholder="Vnesi email"
        formControlName="email"
        required
      />
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        <small class="text-danger" *ngIf="loginForm.get('email')?.hasError('required')">
          Obvezno!
        </small>
        <small class="text-danger" *ngIf="loginForm.get('email')?.hasError('email')">
          Napančni format emaila
        </small>
      </div>
    </div>

    <div class="input-box">
      <input
        id="password"
        type="password"
        placeholder="Vnesi geslo"
        formControlName="password"
        required
      />
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <small class="text-danger" *ngIf="loginForm.get('password')?.hasError('required')">
          Vnesi geslo!
        </small>
       
      </div>
    </div>

    <div class="input-box button">
      <input type="submit" value="Prijava" [disabled]="loginForm.invalid">
    </div>
    <small class="text-danger" >
     {{error}}
    </small>
    
   
  </form>
</div>