<div >
  <label for="playerFilter">Igralec:</label>
  <mat-form-field appearance="fill">
    <mat-label>Izberi igralca</mat-label>
    <mat-select id="playerFilter" [(ngModel)]="selectedPlayer" (ngModelChange)="filterMatches()">
      <mat-option value="">Vsi igralci</mat-option>
      <mat-option *ngFor="let player of players" [value]="player">{{ player }}</mat-option>
    </mat-select>
  </mat-form-field>

  <label for="weekFilter">Teden:</label>
  <mat-form-field appearance="fill">
    <mat-label>Select Week</mat-label>
    <mat-select id="weekFilter" [(ngModel)]="selectedWeek" (ngModelChange)="filterMatches()">
      <mat-option value="">All Weeks</mat-option>
      <mat-option *ngFor="let week of weeks" [value]="week">{{ week }}</mat-option>
    </mat-select>
  </mat-form-field>
  <label for="weekFilter">Filtriraj lige</label>
  <mat-form-field appearance="fill">
    <mat-label>Izberi ligo</mat-label>
    <mat-select id="weekFilter" [(ngModel)]="selectedLeagueId" (ngModelChange)="filterMatches()">
      <mat-option value="">Lige</mat-option>
      <mat-option *ngFor="let league of leagues" [value]="league.id">{{ league.name }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>


<table *ngIf="dataSource.filteredData.length>=1 " mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows >
  <ng-container matColumnDef="week">
    <th mat-header-cell *matHeaderCellDef> Week </th>
    <td mat-cell *matCellDef="let match"> {{ match.week }} </td>
  </ng-container>

  <ng-container matColumnDef="home_player">
    <th mat-header-cell *matHeaderCellDef> Home Player </th>
    <td mat-cell *matCellDef="let match"> {{ match.home_player }} </td>
  </ng-container>

  <ng-container matColumnDef="away_player">
    <th mat-header-cell *matHeaderCellDef> Away Player </th>
    <td mat-cell *matCellDef="let match"> {{ match.away_player }} </td>
  </ng-container>

  <ng-container matColumnDef="result">
    <th mat-header-cell *matHeaderCellDef> Result </th>
    <td mat-cell *matCellDef="let match">
      <span *ngIf="(editingMatch != match && !checkNames(match.home_player))">{{match.result}}</span>
      <span *ngIf="(editingMatch != match && checkNames(match.home_player))"
        (dblclick)="editResult(match) ">{{match.result}}</span>
      <div *ngIf="editingMatch == match">
        <form [formGroup]="resultForm" (ngSubmit)="updateResult(match.id)" (focusout)="onFocusOut($event)">
          <input #resultInput matInput formControlName="newResult" (input)="formatResultInput($event)" placeholder="Enter result (e.g., 6-4, 4-6, 6-3)"
            required />
          <button mat-button type="submit"
            [disabled]="resultForm.controls['newResult'].errors?.['invalidTennisScore']">Update</button>
        </form>
        <div *ngIf="resultForm.controls['newResult'].errors?.['invalidTennisScore']">
          <small class="error">Napačni podatki</small>
        </div>
        <div *ngIf="resultForm.controls['newResult'].errors?.['invalidSetScores']">
          <small class="error">Napačni rezultati setov.</small>
        </div>
        <div *ngIf="resultForm.controls['newResult'].errors?.['extraSet']">
          <small class="error">Po dveh dobljenih nizih dodatni niso dovoljeni.</small>
        </div>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="deadline">
    <th mat-header-cell *matHeaderCellDef> Rok za tekmo </th>
    <td mat-cell *matCellDef="let match"> {{ match.deadline| date: 'dd-MM-yyyy' }} </td>
  </ng-container>
   
  <ng-container matColumnDef="penalty">
    <th mat-header-cell *matHeaderCellDef> Kazenska točka </th>
    <td mat-cell *matCellDef="let match">
      <span
        style="cursor: pointer; color: blue; margin-right: 10px;"
        (click)="penalty(match.home_player_s_id, match.id)">
        {{ match.home_player }}
      </span>
      |
      <span
        style="cursor: pointer; color: green; margin-left: 10px;"
        (click)="penalty(match.away_player_s_id, match.id)">
        {{ match.away_player }}
      </span>
     
    </td>
  </ng-container>
 <!-- <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef> Komentar </th>
    <td mat-cell *matCellDef="let match"> Dodaj komentar </td>
  </ng-container> -->
    <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div
        class="example-element-detail"
        *ngIf="isRowExpanded(element)"
        [@detailExpand]="isRowExpanded(element) ? 'expanded' : 'collapsed'">
         <form [formGroup]="comment" (ngSubmit)="updateComment(element.id)" (focusout)="onFocusOut($event)">
          <textarea #resultInput matInput formControlName="comment"   placeholder="Vnesi komentar"
            required > {{element.admin_comment}}</textarea>
          <button mat-button type="submit"
            [disabled]="comment.controls['comment'].errors">Update</button>
        </form>
       
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns; "(click)="toggleRowExpansion(row)" ></tr>
   <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-element-detail-row"></tr>
</table>

<mat-paginator *ngIf="dataSource.filteredData.length>1 " #paginator1 [pageSize]="8" showFirstLastButtons ></mat-paginator>


<table mat-table [dataSource]="dataSource2" *ngIf="dataSource.filteredData.length==0 " class="mat-elevation-z8">

  <!-- League Column -->
  <ng-container matColumnDef="league">
    <th mat-header-cell *matHeaderCellDef> League </th>
    <td mat-cell *matCellDef="let row"> {{ row.league_name }} </td>
  </ng-container>

  <!-- Points Column -->
  <ng-container matColumnDef="points">
    <th mat-header-cell *matHeaderCellDef> Points </th>
    <td mat-cell *matCellDef="let row"> {{ row.points }} </td>
  </ng-container>

  <!-- Dynamic Player Columns -->
  <ng-container *ngFor="let e of [].constructor(getMaxPlayerCount()); let i = index">
    <ng-container matColumnDef="{{ 'player' + (i + 1) }}">
      <th mat-header-cell *matHeaderCellDef> Player {{ i + 1 }} </th>
      <td mat-cell *matCellDef="let row"> {{ row['player' + (i + 1) + '_name']  }} {{row['player' + (i + 1) + '_position']}} </td>
    </ng-container>

  
  </ng-container>  
  <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Position  </th>
      <td mat-cell *matCellDef="let row"> {{ row.position }} </td>
    </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="editPlayerStanding(row)">Edit</button>
    </td>
  </ng-container>

  <!-- Define Header and Row -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>

</table>

<mat-paginator #paginator2 [pageSize]="8" showFirstLastButtons></mat-paginator>

<table *ngIf="showPromoted==1 && dataSource3.filteredData.length>0" mat-table [dataSource]="dataSource3" class="mat-elevation-z8">

  <!-- League Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Igralec </th>
    <td mat-cell *matCellDef="let row"> {{ row.name }} </td>
  </ng-container>

  <!-- Points Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Pozicija </th>
    <td mat-cell *matCellDef="let row"> {{ row.position }} </td>
  </ng-container>

  <!-- Dynamic Player Columns -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Napredovanje/Izpad </th>
    <td mat-cell *matCellDef="let row"> <button *ngIf="row.position<4" (click)="promote(row)" >Napredovanje</button>
      <button *ngIf="row.position>4" (click)="demote(row)" >Izpad</button>
  </ng-container>
  
 
  <ng-container matColumnDef="league">
    <th mat-header-cell *matHeaderCellDef> Liga </th>
    <td mat-cell *matCellDef="let row"> {{row.liga}}

    </td>
  </ng-container>

  <!-- Define Header and Row -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>

</table>
<div *ngIf="loaded">
  <button (click)="lockstandings()" *ngIf="dataSource.filteredData.length==0 && season_status[0].standings_status=='open'  " mat-raised-button>Zakleni Razvrstitve</button>
</div>
<mat-paginator #paginator3 [pageSize]="8" showFirstLastButtons></mat-paginator>


