<h2>Pozabljeno geslo!</h2>
<form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="email" required />
    <mat-error *ngIf="requestForm.get('email')?.invalid">Vpiši veljavni email</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="requestForm.invalid">
    Pošlji
  </button>
</form>

<h2>Reset Password</h2>

<!-- Show loading or invalid message -->
<div *ngIf="checkingToken">Validating token...</div>
<div *ngIf="!checkingToken && !validToken">Invalid or expired token.</div>

<!-- Show form only if token is valid -->
<form *ngIf="validToken" [formGroup]="resetForm" (ngSubmit)="onSubmit2()">
  <mat-form-field appearance="fill">
    <mat-label>New Password</mat-label>
    <input matInput type="password" formControlName="password" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Confirm Password</mat-label>
    <input matInput type="password" formControlName="confirmPassword" required />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="resetForm.invalid">
    Reset Password
  </button>
</form>