<div class="dashboard-container">
    <mat-accordion multi="true">
    
        <mat-expansion-panel #upcomming>
            <mat-expansion-panel-header> 
               
              <mat-panel-title>Prihajajoče tekme
                <button mat-raised-button *ngIf="upcomming.expanded" (click)="displayall();$event.stopPropagation();"> Prikaži vse </button>
                <button mat-raised-button *ngIf="upcomming.expanded" (click)="activeonly();$event.stopPropagation();"> Aktivne Tekme </button>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <table mat-table [dataSource]="dataSourceUpcoming" class="mat-elevation-z8">
              <!-- Existing Columns -->
          
              <ng-container matColumnDef="week">
                <th mat-header-cell *matHeaderCellDef> Teden </th>
                <td mat-cell *matCellDef="let match"> {{ match.week }} </td>
              </ng-container>
          
              <ng-container matColumnDef="home_player">
                <th mat-header-cell *matHeaderCellDef> Domači igralec </th>
                <td mat-cell *matCellDef="let match"> {{ match.home_player }} </td>
              </ng-container>
          
              <ng-container matColumnDef="away_player">
                <th mat-header-cell *matHeaderCellDef> Gostujoči igralec </th>
                <td mat-cell *matCellDef="let match"> {{ match.away_player }} </td>
              </ng-container>
          
              <ng-container matColumnDef="deadline">
                <th mat-header-cell *matHeaderCellDef> Rok za tekmo </th>
                <td mat-cell *matCellDef="let match"> {{ match.deadline | date: 'dd-MM-yyyy' }} </td>
              </ng-container>
          
              <ng-container matColumnDef="phone_away">
                <th mat-header-cell *matHeaderCellDef> Telefonska številka nasprotnika </th>
                <td mat-cell *matCellDef="let match"> {{ match.phone_away }} </td>
              </ng-container>
              <ng-container matColumnDef="result">
                <th mat-header-cell *matHeaderCellDef> Rezultat </th>
                <td mat-cell *matCellDef="let match">
                  <!-- If the user is the home player, allow them to edit the score -->
                  <span *ngIf="!isAwayPlayer(match)">
                    <span *ngIf="editingMatch !== match" (dblclick)="editResult(match)">
                      {{ match.result }} <button (click)="editResult(match)">uredi</button>
                    </span>
                    <div *ngIf="editingMatch === match">
                      <form [formGroup]="resultForm" (ngSubmit)="updateResult(match.id)" (focusout)="onFocusOut($event)">
                        <input #resultInput matInput formControlName="newResult" placeholder="Vnesite rezultat (npr. 6-4, 4-6, 6-3)" required />
                        <button mat-button type="submit" [disabled]="resultForm.invalid">Posodobi</button>
                      </form>
                      <div *ngIf="resultForm.controls['newResult'].errors?.['invalidTennisScore']">
                        <small class="error">Napačni podatki</small>
                      </div>
                      <div *ngIf="resultForm.controls['newResult'].errors?.['invalidSetScores']">
                        <small class="error">Napačni rezultati setov.</small>
                      </div>
                      <div *ngIf="resultForm.controls['newResult'].errors?.['extraSet']">
                        <small class="error">Po dveh dobljenih nizih dodatni niso dovoljeni.</small>
                      </div>
                    </div>
                  </span>
                  <!-- If the user is the away player, allow them to confirm the score -->
                  <span *ngIf="isAwayPlayer(match)">
                    <span>{{ match.result }}</span>
                    <button mat-flat-button *ngIf="(match.result!='No result' && match.result_confirmed==0) " (click)="confirmResult(match)">Potrdi rezultat</button>
                  </span>
                </td>
              </ng-container>
          
              <!-- New Column for Forfeit Button -->
              <ng-container matColumnDef="forfeit">
                <th mat-header-cell *matHeaderCellDef> Predaja </th>
                <td mat-cell *matCellDef="let match">
                  <button mat-button (click)="forfeitMatch(match)">Predaj</button>
                </td>
              </ng-container>
          
              <!-- Header and Row Definitions -->
              <tr mat-header-row *matHeaderRowDef="displayedColumnsUpcoming"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsUpcoming;"></tr>
            </table>
          </mat-expansion-panel>
  
      <!-- Finished Matches Section -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Končane tekme</mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="dataSourceFinished" class="mat-elevation-z8">
          <ng-container matColumnDef="week">
            <th mat-header-cell *matHeaderCellDef> Teden </th>
            <td mat-cell *matCellDef="let match"> {{ match.week }} </td>
          </ng-container>
  
          <ng-container matColumnDef="home_player">
            <th mat-header-cell *matHeaderCellDef> Domači igralec </th>
            <td mat-cell *matCellDef="let match"> {{ match.home_player }} </td>
          </ng-container>
  
          <ng-container matColumnDef="away_player">
            <th mat-header-cell *matHeaderCellDef> Gostujoči igralec </th>
            <td mat-cell *matCellDef="let match"> {{ match.away_player }} </td>
          </ng-container>
  
          <ng-container matColumnDef="result">
            <th mat-header-cell *matHeaderCellDef> Rezultat </th>
            <td mat-cell *matCellDef="let match"> {{ match.result }} </td>
          </ng-container>
  
          <ng-container matColumnDef="deadline">
            <th mat-header-cell *matHeaderCellDef> Rok za tekmo </th>
            <td mat-cell *matCellDef="let match"> {{ match.deadline | date: 'dd-MM-yyyy' }} </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumnsFinished"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsFinished;"></tr>
        </table>
      </mat-expansion-panel>
  
      <!-- Pending Result Matches Section -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Tekme čakajo na rezultat</mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="dataSourcePendingResults" class="mat-elevation-z8">
          <ng-container matColumnDef="week">
            <th mat-header-cell *matHeaderCellDef> Teden </th>
            <td mat-cell *matCellDef="let match"> {{ match.week }} </td>
          </ng-container>
      
          <ng-container matColumnDef="home_player">
            <th mat-header-cell *matHeaderCellDef> Domači igralec </th>
            <td mat-cell *matCellDef="let match"> {{ match.home_player }} </td>
          </ng-container>
      
          <ng-container matColumnDef="away_player">
            <th mat-header-cell *matHeaderCellDef> Gostujoči igralec </th>
            <td mat-cell *matCellDef="let match"> {{ match.away_player }} </td>
          </ng-container>
      
          <ng-container matColumnDef="result">
            <th mat-header-cell *matHeaderCellDef> Rezultat </th>
            <td mat-cell *matCellDef="let match">
              <!-- If the user is the home player, allow them to edit the score -->
              <span *ngIf="!isAwayPlayer(match)">
                <span *ngIf="editingMatch !== match" (dblclick)="editResult(match)">
                  {{ match.result }}
                </span>
                <div *ngIf="editingMatch === match">
                  <form [formGroup]="resultForm" (ngSubmit)="updateResult(match.id)" (focusout)="onFocusOut($event)">
                    <input #resultInput matInput formControlName="newResult" placeholder="Vnesite rezultat (npr. 6-4, 4-6, 6-3)" required />
                    <button mat-button type="submit" [disabled]="resultForm.invalid">Posodobi</button>
                  </form>
                  <div *ngIf="resultForm.controls['newResult'].errors?.['invalidTennisScore']">
                    <small class="error">Napačni podatki</small>
                  </div>
                  <div *ngIf="resultForm.controls['newResult'].errors?.['invalidSetScores']">
                    <small class="error">Napačni rezultati setov.</small>
                  </div>
                  <div *ngIf="resultForm.controls['newResult'].errors?.['extraSet']">
                    <small class="error">Po dveh dobljenih nizih dodatni niso dovoljeni.</small>
                  </div>
                </div>
              </span>
              <!-- If the user is the away player, allow them to confirm the score -->
              <span *ngIf="isAwayPlayer(match)">
                <span>{{ match.result }}</span>
                <button mat-flat-button *ngIf="(match.result!='No result' && match.result_confirmed==0) " (click)="confirmResult(match)">Potrdi rezultat</button>
              </span>
            </td>
          </ng-container>
      
          <ng-container matColumnDef="deadline">
            <th mat-header-cell *matHeaderCellDef> Rok za tekmo </th>
            <td mat-cell *matCellDef="let match"> {{ match.deadline | date: 'dd-MM-yyyy' }} </td>
          </ng-container>
      
          <ng-container matColumnDef="phone_away">
            <th mat-header-cell *matHeaderCellDef> Telefonska številka nasprotnika </th>
            <td mat-cell *matCellDef="let match"> {{ match.phone_away }} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumnsPendingResults"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsPendingResults;"></tr>
        </table>
      </mat-expansion-panel>
  
    </mat-accordion>
  </div>
  