<mat-accordion multi="false">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened>
      <div style="padding: 1rem">
        <h1>Meni</h1>

        <!-- Check if the user is logged in -->
        <ng-container >
          <mat-expansion-panel *ngIf="authService.isAuthenticated()">
            <mat-expansion-panel-header>
              <app-sidenav-link>
                <span class="material-icons">dashboard</span>
                <span *ngIf="(authService.isAuthenticated()&& authService.hasRole('user'))">Moja liga</span>
                <span *ngIf="(authService.isAuthenticated()&& authService.hasRole('admin'))">Upravljaj ligo</span>
              </app-sidenav-link>
            </mat-expansion-panel-header>
            <app-sidenav-link *ngIf="(authService.isAuthenticated()&& authService.hasRole('user'))" routerLink="dashboard">Pregled<span></span></app-sidenav-link>
            <app-sidenav-link *ngIf="(authService.isAuthenticated()&& authService.hasRole('admin'))" routerLink="dashboardadmin">Pregled<span></span></app-sidenav-link>
            <app-sidenav-link *ngIf="(authService.isAuthenticated()&& authService.hasRole('admin'))" routerLink="manageusers">Upravljaj uporabnike in igralce<span></span></app-sidenav-link>
          </mat-expansion-panel>
          
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <app-sidenav-link>
                <span class="material-icons">people</span>
                <span>Igralci</span>
              </app-sidenav-link>
            </mat-expansion-panel-header>
            <app-sidenav-link routerLink="players/1"><span>1. liga</span></app-sidenav-link>
            <app-sidenav-link routerLink="players/2"><span>2. liga</span></app-sidenav-link>
            <app-sidenav-link routerLink="players/3"><span>3. liga</span></app-sidenav-link>
            <app-sidenav-link routerLink="players/4"><span>4. liga</span></app-sidenav-link>
            <app-sidenav-link routerLink="players/5"><span>5. liga</span></app-sidenav-link>
            <app-sidenav-link routerLink="players/6"><span>Ženska liga</span></app-sidenav-link>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <app-sidenav-link>
                <span class="material-icons">leaderboard</span>
                <span>Razvrstitve</span>
              </app-sidenav-link>
            </mat-expansion-panel-header>
            <app-sidenav-link routerLink="standings/1"><span>1. liga</span></app-sidenav-link>
            <app-sidenav-link routerLink="standings/2"><span>2. liga</span></app-sidenav-link>
            <app-sidenav-link routerLink="standings/3"><span>3. liga</span></app-sidenav-link>
            <app-sidenav-link routerLink="standings/4"><span>4. liga</span></app-sidenav-link>
            <app-sidenav-link routerLink="standings/5"><span>5. liga</span></app-sidenav-link>
            <app-sidenav-link routerLink="standings/6"><span>Ženska liga</span></app-sidenav-link>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <app-sidenav-link>
                <span class="material-icons">scoreboard</span>
                <span>Tekme</span>
              </app-sidenav-link>
            </mat-expansion-panel-header>
            <app-sidenav-link routerLink="matches/1"><span>1. liga</span></app-sidenav-link>
            <app-sidenav-link routerLink="matches/2"><span>2. liga</span></app-sidenav-link>
            <app-sidenav-link routerLink="matches/3"><span>3. liga</span></app-sidenav-link>
            <app-sidenav-link routerLink="matches/4"><span>4. liga</span></app-sidenav-link>
            <app-sidenav-link routerLink="matches/5"><span>5. liga</span></app-sidenav-link>
            <app-sidenav-link routerLink="matches/6"><span>Ženska liga</span></app-sidenav-link>
          </mat-expansion-panel>
          
          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <app-sidenav-link>
                <span class="material-icons">person_add</span>
                <span *ngIf="authService.getUserEmail()">{{this.authService.getUserEmail()}}</span>
                <span *ngIf="!authService.getUserEmail()">Uporabnik</span>
              </app-sidenav-link>
            </mat-expansion-panel-header>
            <app-sidenav-link routerLink="login" *ngIf="!authService.isAuthenticated()"><span>Prijava</span></app-sidenav-link>
            <app-sidenav-link routerLink="register" *ngIf="!authService.isAuthenticated()"><span>Registracija</span></app-sidenav-link>
            <app-sidenav-link routerLink="logout" (click)="authService.logout()" *ngIf="authService.isAuthenticated()"><span>Odjava </span></app-sidenav-link>
           
          </mat-expansion-panel>

        </ng-container>

        <!-- Display this if the user is not logged in -->
    
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</mat-accordion>
