<mat-accordion multi="false">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened>
      <div style="padding: 1rem">
        <h1>Meni</h1>

        <!-- Check if the user is logged in -->
        <ng-container >
          <mat-expansion-panel >
            <mat-expansion-panel-header  *ngIf="authService.isAuthenticated()">
              <app-sidenav-link >
                <span class="material-icons">dashboard</span>
                <span *ngIf="(authService.isAuthenticated()&& authService.hasRole('user'))">Moja liga</span>
                <span *ngIf="(authService.isAuthenticated()&& authService.hasRole('admin'))">Upravljaj ligo</span>
                <span *ngIf="!authService.isAuthenticated()">Liga</span>
              </app-sidenav-link>
            </mat-expansion-panel-header>
            <app-sidenav-link  routerLink="leaguesignup" *ngIf="isInApril()" >Prijava v ligo<span></span></app-sidenav-link>
            <app-sidenav-link *ngIf="(authService.isAuthenticated()&& authService.hasRole('user'))" routerLink="dashboard">Pregled<span></span></app-sidenav-link>
            <app-sidenav-link *ngIf="(authService.isAuthenticated()&& authService.hasRole('admin'))" routerLink="dashboardadmin">Pregled<span></span></app-sidenav-link>
            <app-sidenav-link *ngIf="(authService.isAuthenticated()&& authService.hasRole('admin'))" routerLink="manageusers">Upravljaj uporabnike in igralce<span></span></app-sidenav-link>
            <app-sidenav-link *ngIf="(authService.isAuthenticated()&& authService.hasRole('admin'))" routerLink="manageleague">Liga<span></span></app-sidenav-link>
            <app-sidenav-link *ngIf="(authService.isAuthenticated()&& authService.hasRole('admin')) && filteredSeasons[0]?.draw==0" routerLink="leaguedraw">Žreb<span></span></app-sidenav-link>
          </mat-expansion-panel>
          
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <app-sidenav-link>
                <span class="material-icons">people</span>
                <span>Igralci</span>
              </app-sidenav-link>
            </mat-expansion-panel-header>
            <app-sidenav-link *ngFor="let league of leagues"  [routerLink]="'/players/' + league.id"><span>{{league.name}}</span></app-sidenav-link>
          
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <app-sidenav-link>
                <span class="material-icons">leaderboard</span>
                <span>Razvrstitve</span>
              </app-sidenav-link>
            </mat-expansion-panel-header>
            <app-sidenav-link *ngFor="let league of leagues"  [routerLink]="'/standings/' + league.id"><span>{{league.name}}</span></app-sidenav-link>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <app-sidenav-link>
                <span class="material-icons">scoreboard</span>
                <span>Tekme</span>
              </app-sidenav-link>
            </mat-expansion-panel-header>
            <app-sidenav-link *ngFor="let league of leagues"  [routerLink]="'/matches/' + league.id"><span>{{league.name}}</span></app-sidenav-link>
          </mat-expansion-panel>
          
          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <app-sidenav-link>
                <span class="material-icons">person_add</span>
                <span *ngIf="authService.getUserEmail()">{{this.authService.getUserEmail()}}</span>
                <span *ngIf="!authService.getUserEmail()">Uporabnik</span>
              </app-sidenav-link>
            </mat-expansion-panel-header>
            <app-sidenav-link routerLink="login" *ngIf="!authService.isAuthenticated()"><span>Prijava</span></app-sidenav-link>
            <app-sidenav-link routerLink="register" *ngIf="!authService.isAuthenticated()"><span>Registracija</span></app-sidenav-link>
            <app-sidenav-link routerLink="logout" (click)="authService.logout()" *ngIf="authService.isAuthenticated()"><span>Odjava </span></app-sidenav-link>
           
          </mat-expansion-panel>

        </ng-container>

        <!-- Display this if the user is not logged in -->
    
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</mat-accordion>
